---
layout: splash 
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/kai-pilger-unsplash.jpg
  actions:
    - label: "Upcoming Meetings"
      url: "/calendar"
excerpt: |
  <p class='page__lead' style='align: center;'> We are the R User Group at the Harvard Data
  Science Initiative, a group who aims to organize meetups and guest
  lectures for the R community around Harvard University. Anyone is welcome
  to join, and feel free to reach out to us if you have any questions.</p>
feature_row:
  - title: "Join our R User Group!"
    excerpt: |
      If you'd like to join the RUG at HDSI, please fill out our introductory 
      <a href='https://harvard.az1.qualtrics.com/jfe/form/SV_0UPimR4P5qm2Omq'>questionnaire survey</a> or email us at
      <a>datascience_rug@harvard.edu</a>
  - title: |
      Join our channel on the HDSI Slack: <br>
      <pre style='font-size:24px; margin-bottom: 5px;'>#rug-at-hdsi</pre>
    excerpt: "Email <a>datascience@harvard.edu</a> if you would like to request
    to join the HDSI Slack."
    url: "https://harvard-datascience.slack.com"
    btn_label: "Link to HDSI Slack"
    btn_class: "btn--info"
  - title: "About the Organizers"
    excerpt: |
      Learn more [about us](/about), [who we are](about/#who-we-are), and our
      [code of conduct](/about/#code-of-conduct)
    url: "/about"
    btn_label: "About Us"
    btn_class: "btn--info"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

  <div class='feature__row'>
<!-- advice taken from https://stackoverflow.com/a/72119776/3161979 --> 
<div class='feature__item'>
  <h2 class='archive__item-title'>Browse our recent videos on <a href="https://www.youtube.com/c/RUserGroupatHarvardDataScienceInitiative/videos">YouTube</a></h2>
<iframe
  src="https://www.youtube-nocookie.com/embed?listType=playlist&list=UU8bO8eVpfEK8LbqH0oxyc3Q"
  width="600"
  height="340"
  allowfullscreen>
</iframe>
</div>

<div class='feature__item'>
  <!-- <h2 class='archive__item-title'>Check out our <a href='https://twitter.com/RUGatHDSI'>recent tweets</a></h2> --> 
  <!-- embed code from https://publish.twitter.com --> 
  <div class="mt-timeline">
    <div id="mt-body" class="mt-body" role="feed" style="max-height: 500px; overflow-y: scroll;">
      <div class="loading-spinner"></div>
    </div>
  </div>
  
</div>

  <div class='feature__item' style='background-color: #dfe6e9; padding: 20px; border-radius: 10px;'>
    If you are interested in helping us organize or speaking for our group,
    please reach out to us at <a
    href="mailto:datascience_rug@harvard.edu">datascience_rug@harvard.edu</a>
  </div>
  </div>
